<h2>Editar Post</h2>
<form (submit)="submit()">
    <div class="form-group">
        <label for="titulo">Título:</label>
        <input id="titulo" name="titulo" type="text" class="form-control" [value]="titulo?.toString()" (input)="titulo = $event.target.value">
        <div *ngIf="!titulo" class="alert alert-danger"> El título no puede estar vacío </div>
    </div>
    <div class="form-group">
        <label for="contenido">Contenido:</label>
        <textarea id="contenido" name="contenido" class="form-control" [value]="contenido" (input)="contenido = $event.target.value"></textarea>
        <div *ngIf="!contenido" class="alert alert-danger"> El contenido no puede estar vacío </div>
    </div>
    <button type="submit" [disabled]="!titulo || !contenido" class="btn btn-primary" [routerLink]="['post']">Guardar Cambios</button>
</form>

